<h1>Listing altar_boys</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @altar_boys.each do |altar_boy| %>
      <tr>
        <td><%= altar_boy.name %></td>
        <td><%= link_to 'Show', altar_boy %></td>
        <td><%= link_to 'Edit', edit_altar_boy_path(altar_boy) %></td>
        <td><%= link_to 'Destroy', altar_boy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Altar boy', new_altar_boy_path %>
