<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @week.year %>
</p>

<p>
  <strong>Week no:</strong>
  <%= @week.week_no %>
</p>

<%= link_to 'Edit', edit_week_path(@week) %> |
<%= link_to 'Back', weeks_path %>
