%h1 Listing service_weekly_schemas
%table
  %thead
    %tr
      %th Sunday
      %th Monday
      %th Tuesday
      %th Wednesday
      %th Thursday
      %th Friday
      %th Saturday
      %th Name
      %th
      %th
      %th
  %tbody
    - @service_weekly_schemas.each do |service_weekly_schema|
      %tr
        %td= service_weekly_schema.sunday
        %td= service_weekly_schema.monday
        %td= service_weekly_schema.tuesday
        %td= service_weekly_schema.wednesday
        %td= service_weekly_schema.thursday
        %td= service_weekly_schema.friday
        %td= service_weekly_schema.saturday
        %td= service_weekly_schema.name
        %td= link_to 'Show', service_weekly_schema
        %td= link_to 'Edit', edit_service_weekly_schema_path(service_weekly_schema)
        %td= link_to 'Destroy', service_weekly_schema, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Service weekly schema', new_service_weekly_schema_path
