%h1 Listing duty_weekly_schemas
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th
      %th
      %th
  %tbody
    - @duty_weekly_schemas.each do |duty_weekly_schema|
      %tr
        %td= duty_weekly_schema.name
        %td= link_to 'Show', duty_weekly_schema, class: "btn-sm btn-info"
        %td= link_to 'Edit', edit_duty_weekly_schema_path(duty_weekly_schema), class: "btn-sm btn-warning"
        %td= link_to 'Destroy', duty_weekly_schema, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger"
%br/
= link_to 'New Duty weekly schema', new_duty_weekly_schema_path, class: "btn btn-success"
