= bootstrap_form_for(@celebration_type) do |f|
  - if @celebration_type.errors.any?
    #error_explanation
      %h2
        = pluralize(@celebration_type.errors.count, "error")
        prohibited this celebration_type from being saved:
      %ul
        - @celebration_type.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :name
  .actions
    = f.submit class: "btn btn-success"
