%h3 Weekly Celebration Plan
= simple_form_for(@celebration_weekly_schema) do |f|
  = f.input :name
  = f.association :sunday
  = f.association :monday
  = f.association :tuesday
  = f.association :wednesday
  = f.association :thursday
  = f.association :friday
  = f.association :saturday
  = f.submit
