= bootstrap_form_for @weekly_plan do |f|
  - if @weekly_plan.errors.any?
    #error_explanation
      %h2= "#{pluralize(@weekly_plan.errors.count, "error")} prohibited this weekly_plan from being saved:"
      %ul
        - @weekly_plan.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :name
  = f.date_select :week_start
  = f.date_select :week_end
  = f.collection_select :duty_weekly_schema, DutyWeeklySchema.all, :id, :name

  = link_to 'Back', weekly_plans_path, :class => "btn btn-default"
  = f.submit 'Save', :class => "btn btn-success"

