%p#notice= notice

%p
  %b Name:
  = @weekly_plan.name
%p
  %b Week start:
  = @weekly_plan.week_start
%p
  %b Week end:
  = @weekly_plan.week_end
%p
  %b Duty weekly schema:
  = @weekly_plan.duty_weekly_schema

= link_to 'Edit', edit_weekly_plan_path(@weekly_plan)
\|
= link_to 'Back', weekly_plans_path
